.high{
    margin-top:100px;
        
        @media (max-width: 600px){ 
            margin-top:80px;
        }

        @media (max-width: 425px){ 
            margin-top:30px;
        }

        .header-High{

            div{
                padding:0px;
                display:flex;
                justify-content:space-between;
                margin:20px 15px;
                border-bottom:1px solid rgba(0,0,0,.2);

                h5{
                    font-weight:800;

                    @media (max-width: 425px){ 
                        font-size:16px;
                    }   
                }

                p{
                    color: red;
                    @media (max-width: 768px){ 
                        font-size:10px;
                }   
                }
            }
        }

        .cata-High{
            margin-top:30px;

            @media (max-width: 768px){ 
                margin-top:0px;
            }   

            img{
                width:100% !important;
                height:100% !important;
            }

            > div{
                @media (max-width: 768px){ 
                    margin:15px 0px;
                }   
            }
        }
}