.favorite {
  margin-top: 21px;
}

.favorite h1 {
  font-weight: 900;
  font-size: 29px;
}

.products {
  margin-top: 25px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1144px) {
  .products {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .products {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .products {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .products {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.products > div {
  margin: 8px;
  cursor: pointer;
}

.products > div .container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products > div .container-img img {
  height: 250px;
}

@media (max-width: 1024px) {
  .products > div .container-img img {
    height: 180px;
  }
}

.products > div .container-body {
  padding: 5px 3px;
}

.products > div .container-body h6 {
  font-size: 12px;
  color: #777;
}

.products > div .container-body .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 8px;
}

.products > div .container-body .price .real-price {
  margin: 0px;
  font-weight: 900;
  color: #212121;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
}

.products > div .container-body .price .fake-price {
  margin: 0px;
  text-decoration: line-through;
  color: #999;
  font-size: 10px;
}

.products > div .container-body .discount {
  margin-top: 5px;
  font-size: 10px;
  padding: 3px 10px;
  background: rgba(0, 255, 43, 0.3);
}

.container-buttons {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-buttons button {
  font-size: 12px;
  display: block;
  width: 220px;
  padding: 6px 0px;
  border: 0px;
  margin: 6px 0px;
  background: #03a9f4;
  color: #fff;
}

.container-buttons button:hover {
  background-color: #008ecf;
  color: #FFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container-buttons button svg {
  -webkit-margin-start: 6px;
  margin-inline-start: 6px;
}

.container-buttons button:last-of-type {
  background: transparent;
  border: 1px solid #03a9f4;
  color: #03a9f4;
}

.container-buttons button:last-of-type:hover {
  background-color: #03a9f4;
  color: #FFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*# sourceMappingURL=Favorite.css.map */