.product{
    margin-top:20px;

    .header{
        font-size:11px;

        a{
            color:#515151;
            text-decoration:underline
        }

        a:not(:last-of-type){
            color:blue;
        }

        .fa-chevron-right,.fa-chevron-left{
            margin:0px 10px;
            color:#515151;
        }
    }

    .product{
        margin-top:35px;
        display:flex;

        @media (max-width: 1024px){ 
            flex-wrap:wrap;
        }

        .information{
            padding-left:10px;
            width:40%;
            margin-inline-end:15px;

            @media (max-width: 1024px){ 
                width:50% !important;
                margin-inline-end:0px;
            }

            @media (max-width: 768px){ 
                width:100% !important;
                order:2;
                margin-top:20px;
                margin-inline-end:0px;
            }

            div {
                padding:18px 0px;
                padding-top:0px;

                .owner{
                    font-size:14px;
                    color:#515151;
                    margin:0px;
                }
                .products-name{
                    font-weight:800;
                    margin:10px 0px;
                    margin-bottom:4px;
                    color:#212121
                }
                .model-number{
                    font-size:11px;
                    color:#515151;
                    margin:0px;
                }

                > div{
                    p{
                        margin:0px;
                    }
                }

                .old-price{
                    margin-top:15px;
                    display:flex;
                    font-size:14px;

                    p:first-of-type{
                        color:#888;
                        margin-inline-end:6px;
                    }
                    p:last-of-type{
                        text-decoration:line-through;
                        color:#888
                    }
                }
                .new-price{
                    display:flex;
                    font-size:14px;
                    align-items:center;
                    justify-content:space-between;

                    @media (max-width: 425px){ 
                        justify-content:flex-end;
                        flex-direction:column;
                    }


                    > span {
                        display:flex;
                        align-items:center ;

                        p:first-of-type{
                            color:#888;
                            margin-inline-end:6px;
                        }
                        p:last-of-type{
                            font-size:32px;
                            font-weight:800;
                            color:#03A9F4
                        }
                    }
                    .discount{
                    background:#05ff056b;
                    display:inline;
                    border-radius:15px;
                    font-size:13px;
                    padding:5px 15px;
                    }
                }
                
            }

            form{   
                padding:15px 0px; 
                border-bottom:1px solid rgba(0,0,0,.1);
                h6{
                    font-size:10px;
                    color:#777;
                }

                > div{
                    display:flex;
                    
                    input{
                        width:100%;
                        margin:0px 5px;
                        background:#03A9F4;
                        border:0px;
                        font-size:13px;
                        color:#FFF;
                        padding:10px 0px;
                        box-shadow: 2px 2px 4px rgba(0,0,0,.15);
                        transition:all .4s ;

                        &:hover{
                            background:#1bb8ff;
                            box-shadow: 4px 4px 6px rgba(0,0,0,.15);
                        }
                    }
                }
            }
        }

        .imgs{
            width:30%;
            display:flex;
            margin-inline-end:15px;

            @media (max-width: 1024px){ 
                width:50% !important;
                margin-inline-end:0px;
            }

            @media (max-width: 768px){ 
                width:100% !important;
                order:1;;
                margin-inline-end:0px;
            }


            .containerImgs{
                display:flex;
                justify-content:flex-start;
                flex-direction:column;

                img{
                    width:60px;
                    height:60px;
                    box-shadow:1px 1px 3px rgba(0,0,0,.09);
                    object-fit:contain;
                    cursor: pointer;
                }
            }

            div:last-of-type{
                img{
                    height:450px !important;
                    object-fit:contain !important;
                }
            }
                        
            
        }
        .ship{
            width:30%;

            @media (max-width: 1024px){ 
            }

            @media (max-width: 768px){ 
                width:100% !important;
                order:3;
            }

            > div {
                margin:0px 10px;

                > div{
                    display:flex;
                    align-items:center;
                    margin:16px 0px;

                    svg{
                        margin-inline-end:10px;
                        color:#03A9F4;
                    }

                    p{
                        margin:0px;
                        font-size:11px;
                        color:#777
                    }
                }
            }

            > div:first-of-type{
                border-bottom:1px solid rgba(0,0,0,.1)
            }
        }
    }

}