.first-nav{
    display:flex;
    justify-content: space-between;
    background:rgb(3, 169, 244);
    direction:rtl;
    padding:10px 15px;
    font-size:14px;
    color:#FFF;

    .nav-info{
        display:flex;

        div{
            display:flex;
            align-items:center;

            p{
                margin:0px;
                margin-inline-end:14px;
                margin-inline-start:6px;

                @media (max-width: 1440px){ 
                    font-size:14px
                }

                @media (max-width: 1024px){ 
                    font-size:10px;
                    margin-inline-end:8px;
                    margin-inline-start:5px;
                }

                @media (max-width: 768px){ 
                    font-size:8px;
                    margin-inline-end:5px;
                    margin-inline-start:4px;
                }
                
            }

            .fa-truck{
                    @media (max-width: 1024px){ 
                        font-size:12px
                    }

                    @media (max-width: 768px){ 
                        font-size:8px
                    }
                }

                .fa-user-check{
                    @media (max-width: 1024px){ 
                        font-size:12px
                    }

                    @media (max-width: 768px){ 
                        font-size:8px
                    }
                }
                .fa-percentage{
                    @media (max-width: 1024px){ 
                        font-size:12px;
                    }

                    @media (max-width: 768px){ 
                        font-size:8px;

                    }
                }
        }
    }

    .languages{
        display:flex;

        span:first-of-type{
            display:flex;
            align-items:center;

            
            .fa-globe-americas{
                @media (max-width: 1024px){ 
                    font-size:12px;
                }

                @media (max-width: 768px){ 
                    font-size:9px;
                    display:none
                }
            }
                        
            p{
                margin:0px;
                margin-inline-start:5px;

                @media (max-width: 1440px){ 
                    font-size:14px
                    }

                @media (max-width: 1024px){ 
                    font-size:10px
                }

                @media (max-width: 768px){ 
                    display:none
                }
            }
        }
        span{
            display:flex;
            align-items:center;
            a{
                margin-inline-start:10px;

                @media (max-width: 1440px){ 
                    font-size:14px
                    }

                @media (max-width: 1024px){ 
                    font-size:10px
                }

                @media (max-width: 768px){ 
                    font-size:9px
                }
            }
        }
    }
}