.products-like {
  > h3 {
    padding: 15px;
  }
  img {
    width: 100%;
    height: 300px;
  }
  .products-like-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 22px;
    .slick-slider{
      width: 100%;
    }

    .slick-slider{
        button{
          display: none !important;
        }
    }
    .products-like-item {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
      border: 2px solid rgb(191, 90, 242);
      border-radius: 12px;
      padding: 6px 8px;
      padding-bottom: 12px;
      margin: 10px 6px;

      > .item-head {
        * {
          margin: 0px;
        }

        > div {
          display: flex;
          padding: 5px 8px;
          justify-content: space-between;
          background: rgba(48, 209, 88, 0.4);
          border-radius: 4px;
          margin: 8px 0px;
          font-size: 13px;

          span:last-of-type {
            color: #686868;
          }
        }

        > div:nth-child(even) {
          background: rgba(191, 90, 242, 0.4);
        }
      }
      > .item-center {
        .slick-slider {
          width: 60%;
          margin: auto;
          @media (max-width: 991px) {
            width: 90%;
          }
          img {
            width: 120px;
            height: 160px;
            margin: auto;
            object-fit: contain;
            cursor: pointer;
          }
          .slick-arrow::before {
            color: #000;
          }

          .slick-next {
            @media (max-width: 991px) {
              right: 0px;
            }
          }

          .slick-prev {
            @media (max-width: 991px) {
              left: 0px;
            }
          }
        }
      }

      .item-footer {
        margin-top: 35px;
        h5 {
          font-weight: 800;
        }
        .item-footer-discount {
          display: flex;
          align-items: center;
          p {
            margin: 0px;
            color: #999;
            font-size: 14px;
          }
          span {
            margin-right: 12px;
            background: rgba(48, 209, 88, 0.4);
            padding: 4px 8px;
            border-radius: 3px;
            font-size: 13px;
          }
        }
        .discount-end {
          margin: 8px 0px !important;
          font-size: 14px;
          color: #bf5af2;
        }
      }
      .item-button-select {
        button {
          width: 100%;
          border-radius: 2px;
          padding: 6px;
          border: 0px;
          border: 2px solid rgba(191, 90, 242, 0.6);
          color: #fff;
          font-size: 14px;
          font-weight: 800;
          box-shadow: 1px 0.8px 5px rgba(0, 0, 0, 0.22);
          transition: all 0.3s;
          color: #212121;
          &:hover {
            background: rgba(191, 90, 242, 0.8);
            color: #fff;
          }
        }
      }
    }
  }
}
