.products-like {
  > h3 {
      padding:15px
  }

  .products-like-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:0px 22px;

    > .products-like-item {
      width: 23%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
      border: 2px solid #03a9f4;
      border-radius: 12px;
      padding: 6px 8px;
      padding-bottom: 12px;
      margin: 10px 6px;
      > .item-head {
        * {
          margin: 0px;
        }

        > div {
          display: flex;
          padding: 5px 8px;
          justify-content: space-between;
          background: rgba(3, 169, 244, 0.4);

          border-radius: 4px;
          margin: 8px 0px;
          font-size: 13px;

          span:last-of-type {
            color: #686868;
          }
        }

        > div:nth-child(even) {
          background: rgba(76, 175, 80, 0.5);
        }
      }
      > .item-center {
        .slick-slider {
          width: 60%;
          margin: auto;
          img {
            width: 120px;
            height: 160px;
            margin: auto;
            object-fit: contain;
          }
          .slick-arrow::before {
            color: #000;
          }
        }
      }

      .item-footer {
        margin-top: 35px;
        h5 {
          font-weight: 800;
        }
        .item-footer-discount {
          display: flex;
          align-items: center;
          p {
            margin: 0px;
            color: #999;
            font-size: 14px;
          }
          span {
            margin-right: 12px;
            background: #00c57f;
            padding: 4px 8px;
          }
        }
        .discount-end {
          margin: 8px 0px !important;
          font-size: 14px;
        }
      }
      .item-button-select {
        button {
          width: 100%;
          border-radius: 2px;
          padding: 6px;
          border: 0px;
          background: #00c57f;
          color: #fff;
          font-size: 14px;
          font-weight: 800;
          box-shadow: 1px .8px 5px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
}
