.products-like > h3 {
  padding: 15px;
}

.products-like img {
  width: 100%;
  height: 300px;
}

.products-like .products-like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 22px;
}

.products-like .products-like-container .slick-slider {
  width: 100%;
}

.products-like .products-like-container .slick-slider button {
  display: none !important;
}

.products-like .products-like-container .products-like-item {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
  border: 2px solid #bf5af2;
  border-radius: 12px;
  padding: 6px 8px;
  padding-bottom: 12px;
  margin: 10px 6px;
}

.products-like .products-like-container .products-like-item > .item-head * {
  margin: 0px;
}

.products-like .products-like-container .products-like-item > .item-head > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(48, 209, 88, 0.4);
  border-radius: 4px;
  margin: 8px 0px;
  font-size: 13px;
}

.products-like .products-like-container .products-like-item > .item-head > div span:last-of-type {
  color: #686868;
}

.products-like .products-like-container .products-like-item > .item-head > div:nth-child(even) {
  background: rgba(191, 90, 242, 0.4);
}

.products-like .products-like-container .products-like-item > .item-center .slick-slider {
  width: 60%;
  margin: auto;
}

@media (max-width: 991px) {
  .products-like .products-like-container .products-like-item > .item-center .slick-slider {
    width: 90%;
  }
}

.products-like .products-like-container .products-like-item > .item-center .slick-slider img {
  width: 120px;
  height: 160px;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.products-like .products-like-container .products-like-item > .item-center .slick-slider .slick-arrow::before {
  color: #000;
}

@media (max-width: 991px) {
  .products-like .products-like-container .products-like-item > .item-center .slick-slider .slick-next {
    right: 0px;
  }
}

@media (max-width: 991px) {
  .products-like .products-like-container .products-like-item > .item-center .slick-slider .slick-prev {
    left: 0px;
  }
}

.products-like .products-like-container .products-like-item .item-footer {
  margin-top: 35px;
}

.products-like .products-like-container .products-like-item .item-footer h5 {
  font-weight: 800;
}

.products-like .products-like-container .products-like-item .item-footer .item-footer-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-like .products-like-container .products-like-item .item-footer .item-footer-discount p {
  margin: 0px;
  color: #999;
  font-size: 14px;
}

.products-like .products-like-container .products-like-item .item-footer .item-footer-discount span {
  margin-right: 12px;
  background: rgba(48, 209, 88, 0.4);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 13px;
}

.products-like .products-like-container .products-like-item .item-footer .discount-end {
  margin: 8px 0px !important;
  font-size: 14px;
  color: #bf5af2;
}

.products-like .products-like-container .products-like-item .item-button-select button {
  width: 100%;
  border-radius: 2px;
  padding: 6px;
  border: 0px;
  border: 2px solid rgba(191, 90, 242, 0.6);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  -webkit-box-shadow: 1px 0.8px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 0.8px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #212121;
}

.products-like .products-like-container .products-like-item .item-button-select button:hover {
  background: rgba(191, 90, 242, 0.8);
  color: #fff;
}
/*# sourceMappingURL=ProductsLike.css.map */