.my-profile{
    margin-top:40px;

    .nav-pills{
        background: #FFF;
        
        .nav-item{

            a[aria-selected="true"]{
                background: #eee;
                color:#000;
            }

            a{
                color:#777
            }
        }
    }

    .tab-content{
        
        background: #eee;
        border:1px solid rgba(0,0,0,.05);
    }
}