.sec-slider{
    .container-fluid{
        padding:0px !important ;
    }

    .slick-slider{
            margin-top:60px;

            @media (max-width: 425px){ 
                margin-top:10px;
            }
            
            .slick-arrow{
                background:#FFF;
                opacity:1;
                height:50px;
                color:#212121;
                box-shadow:2px 2px 6px rgba(0,0,0,0.1);
                border-radius:6px;
                display:none !important;
                

                &::before{
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 900;
                    color:#000;
                    font-size:13px;
                }

            }

            .slick-dots{
                overflow:hidden;
                display:flex !important;
                flex-wrap:nowrap !important;
                justify-content:center;
            }

            .slick-slide{
                
                > div{
                    background:#FFF;
                    margin:12px;
                    border-radius:2px;
                    box-shadow:1px 1px 5px rgba(0,0,0,.15);

                    @media (max-width: 425px){ 
                        margin:5px;
                    }

                    div{
                        margin:0px;
                    }
                }

                .header{
                    display:flex;
                    justify-content:center;
                    align-items:center;

                    img{
                        width:75%;
                    }
                }

                .information{
                    border-top:1px solid rgba(0,0,0,.1);
                    padding:8px 5px;

                    @media (max-width: 425px){ 
                        padding:8px 3px;
                    }

                    .head{

                        p{
                            margin:0px;
                        }

                        p:first-of-type{
                            font-size:12px;
                            color:#555;

                            @media (max-width: 425px){ 
                                font-size:10px
                            }
                        }

                        p:nth-child(2){
                            font-weight:800;
                            font-size:14px;

                            @media (max-width: 425px){ 
                                font-size:12px
                            }
                        }

                        p:last-of-type{
                            font-size:12px;
                            margin-top:10px;
                            color:#555;

                            @media (max-width: 425px){ 
                                font-size:10px
                            }
                        }
                    }

                    .center{
                        display:flex;
                        margin:15px 0px;
                        align-items:center;
                        direction:inherit;

                        @media (max-width: 425px){ 
                            font-size:12px;
                            flex-direction:column;
                        }

                        p{
                            margin:0px;
                        }

                        .real-price{
                            font-weight:600;
                            color:#03A9F4;

                            @media (max-width: 425px){ 
                               font-size:12px;
                            }
                        }

                        .fake-price{
                            font-size:11px;
                            color:#555;
                            text-decoration:line-through;
                            margin-inline-start:10px;

                            @media (max-width: 425px){ 
                               font-size:10px;
                            }
                        }

                    }

                    .footer{
                        display:flex;
                        justify-content:space-around;

                        .discount{
                            background:rgba(0,255,43,.3);
                            font-size:12px;
                            border-radius:15px;
                            padding:5px 8px;
                            display:flex;
                            justify-content:space-around;
                            align-items:center;
                            box-shadow:1px 1px 3px rgba(0,0,0,0.15);

                            @media (max-width: 425px){ 
                                font-size:10px
                            }
                        }

                        button{
                            border-radius:15px;
                            border:0px;
                            background:#03A9F4;
                            color:#FFF;
                            font-size:12px;
                            padding:5px 15px;
                            transition:all .2s ;
                            box-shadow:1px 1px 3px rgba(0,0,0,0.15);

                            &:hover{
                                box-shadow:2px 2px 6px rgba(0,0,0,0.15);
                            }

                             @media (max-width: 425px){ 
                                font-size:10px
                            }
                        }
                    }
                }
            }
        }
}